---
import { Picture } from "astro:assets";

import SkillsSvgList from "@/components/SkillsSvgList.astro";

interface Props {
  title: string;
  href: string;
  alt: string;
  description: string;
  src: ImageMetadata;
  technologies: string[];
  lastUpdated: string;
}

const { title, href, alt, description, src, technologies, lastUpdated } =
  Astro.props;

const tabs = [{ name: "Overview", active: true }];
---

<div
  class="mx-auto overflow-hidden rounded-md border-[1.5px] border-outline h-fit"
>
  <a href={href}>
    <Picture
      decoding="async"
      loading="lazy"
      format="webp"
      height={src.height}
      width={src.width}
      alt={alt}
      class="transition-transform hover:scale-101 hover:cursor-pointer max-h-96 object-cover object-top"
      src={src}
    />
  </a>

  <div class="flex flex-col z-10 relative">
    <!-- Title / Middle Section -->
    <div class="bg-background-tint">
      <!-- Title -->
      <h1 class="p-4">
        <a
          class="text-lg font-medium text-primary hover:cursor-pointer hover:underline underline lg:no-underline"
          href={href}
        >
          {title}
        </a>
      </h1>

      <!-- Tabs -->
      <div class="flex flex-row px-4">
        {
          tabs.map((tab) => (
            <button
              class="relative w-fit whitespace-nowrap rounded-t-md px-3 py-1.5 text-default hover:cursor-pointer hover:bg-background focus:bg-background"
              class:list={
                tab.active
                  ? "visible -mb-[1.5px] border-[1.5px] border-b-0 border-outline bg-background pb-[7.5px] hover:bg-background-tint"
                  : "invisible"
              }
              type="button"
            >
              {tab.name}
            </button>
          ))
        }
      </div>
    </div>

    <!-- Tab Content -->
    <div
      class="border-t-[1.5px] border-outline bg-background text-sm text-muted p-4"
    >
      <!-- Tab Body -->
      <p class="text-base mb-5">
        {description}
      </p>

      <!-- Tags -->
      <SkillsSvgList svgIds={technologies} class="hover:hover:!translate-0" />
    </div>

    <!-- Footer -->
    <div class="text-muted text-sm border-t-[1.5px] border-outline p-3.5">
      {lastUpdated}
    </div>
  </div>
</div>
