---
import { Image } from "astro:assets";
import continentalLogo from "@/images/continental_logo.jpg";
import qsrsoftLogo from "@/images/qsrsoft_logo.jpg";

const workExperience = [
  {
    logo: qsrsoftLogo,
    company: "QSRSoft",
    position: "Full Stack Developer",
    duration: "2019 - Present",
    description:
      "Specializing in building scalable, maintainable web applications using Vue.js, JavaScript, and AWS technologies, I focus on delivering high-performance frontend applications while adhering to best practices, ensuring clean, readable, and efficient code.",
    responsibilities: [
      "Developed dynamic, responsive interfaces with Vue.js, adhering to best practices to create maintainable, scalable, and easy-to-read code.",
      "Built efficient JavaScript solutions for interactive features, ensuring seamless backend integration and focusing on performance and clarity.",
      "Designed and maintained serverless applications with AWS Lambda and API Gateway, handling authentication, user permissions, and error management through logging, alerts, and third-party services.",
      "Implemented robust error handling systems, including automated logging and alerting, to monitor application performance and enable rapid issue resolution.",
      "Developed Express.js servers on AWS AppRunner, applying the MVC design pattern to keep code modular, maintainable, and scalable.",
      "Wrote comprehensive tests and set up CI/CD pipelines to ensure code quality and streamline deployment, delivering stable and production-ready applications.",
    ],
  },
  {
    logo: continentalLogo,
    company: "Continental Automotive",
    position: "Software Developer Intern",
    duration: "2018 - 2018",
    description:
      "During my internship, I gained hands-on experience developing internal web applications. I contributed to an expense tracking internal tool, which automated data entry for sales/billing records, database updates, and triggered email notifications.",
    responsibilities: [
      "Used PHP to send automated emails and interact with the database.",
      "Managed data integrity and storage with phpMyAdmin.",
      "Implemented automated processes for data entry, updates, and email notifications.",
    ],
  },
];
---

<div>
  <h2 class='mb-5 font-medium text-foreground'>Work experience</h2>

  <div>
    {
      workExperience.map((job) => (
        <div class='group relative flex gap-x-5'>
          <div class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-muted-foreground'>
            <div class='relative z-10 size-10 flex justify-center items-center'>
              <Image alt={job.company} src={job.logo} width='40' height='40' />
            </div>
          </div>

          <div class='grow pb-8 group-last:pb-0'>
            <h3 class='mb-1 text-xs text-muted-foreground'>{job.duration}</h3>

            <p class='font-semibold text-sm textforeground'>
              {job.company} - {job.position}
            </p>

            <p class='mt-1 text-sm text-muted-foreground'>{job.description}</p>

            <ul class='list-disc ms-6 mt-3 space-y-1.5'>
              {job.responsibilities.map((responsibility) => (
                <li class='text-sm text-muted-foreground'>{responsibility}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</div>
